html {
	background-color: black;
    font-family: 'Lobster', Georgia, Times, serif;
    font-color: white;
}

/* Navigation stuff */

header {
    margin:0px;
    background-color: black;
}

.site-nav {
    width: 100%;
}

.site-nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px; 
}

.site-nav a {
    float: left;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px; 
    /*width: 25%; */ 
    text-align: center;
    font-family: 'Lobster', Georgia, Times, serif;
    font-weight: bold;
}

.site-nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active link*/
.site-nav a.active {
    background-color: #4CAF50;
    color: white;
}

@media screen and (max-width: 500px) {
  .site-nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}


/* Clearfix */
.group:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    background: black;
    color: white;
    margin-top: 10px;

}

.footer {
      position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
    margin-top: 10px;
}


footer a {
    padding: 10px;
}

footer p a {
    color: white;
    text-decoration: none;
    padding: 0px;
}


hr {
   max-width: 90%;
}


body h1 {
    color: white;
    text-align: center;
}


h2 {
    color: white;
    text-align: center;
}

body p {
    color: white;
    text-align: center;
}




.topnav {
  background-color: #333;
  overflow: hidden;
   text-align: center;
}




/* Style the links inside the navigation bar */
.navElement {
 width: 20%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display:inline-block;
 
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.normal {
    color: white;
    text-decoration: none;
}


.mainbox {
  width: 100%;
  
}

.box1 {
  border-style:solid;
  border-color:white;
  float:left;
  width: 22%;
  margin: 1%;
  height: 300px;
}



li {
  color: white;
  line-height: 1.5;
}

.box1 p {
  font-weight: bold;
  text-decoration: underline;
}

.backText {
  text-align: left;
  color: white;
  margin: 5%;
  line-height: 1.5;
}

.backText a{
  color:white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}



.nos  {
  color:white;
  text-align: center;
}

.articles  {
  color:white;
  text-align: center;
}

.articles a {
  color: white;
  text-decoration: none;
}


a:hover { 
  text-shadow: 0 0 10px white; 
}

.allPhotos {
  align-content: center;
  margin: 3%;
}


/* polygon:hover {
  fill: white;
  opacity: 0.2;
}
*/
